
/* Define custom variables */
:root {
    --navbar-background-color: #00695C;
    --content-background-color: #424242;
    --title-background-color: #212121;
    --button-background-color: #616161;
    --background-color: black;
    --text-color: white;
}

/* Embed custom font */
@font-face {
    font-family: "SummitMedium-Display";
    src: url("assets/SummitMedium-Display.otf");
}

body {
    width: 80%; /* Make the content on this page smaller than the width of the window */
    margin: 1% auto 1% auto; /* Give some space on top and bottom. Center it left and right */
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color); /* Change text color */
}

/* This item only shows while the page is loading */
#initial-output {
    text-align: center;
    margin: 5% auto; /* Make the screen shift a bit down to show this message */
}

header {
    background-color: var(--navbar-background-color);
    font-family: SummitMedium-Display;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 3em;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer img {
    max-width: 10em;
    height: auto;
}

.content-title {
    background-color: var(--title-background-color);
    padding-left: 1%;
}

.content {
    background-color: var(--content-background-color);
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.content div {
    margin-left: 2%;
    margin-bottom: 1%;
}

button {
    margin: 2%;
    color: var(--text-color);
    border: solid var(--text-color) 1px;
    background-color: var(--button-background-color);
}

.math-controls {
    height: 100%;
}

.term {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    width: 3em;
    height: 4em;

    border: solid var(--text-color) 1px;
    padding: 1%;
    margin: 1%;
}

.formula {
    padding: 1%;
    margin: 1%;
}

.sign,
.variable {
    grid-row: 2 / 3;
}

.sign {
    grid-column: 1 / 2;
}

.variable {
    grid-column: 2 / 3;

    overflow-x: visible;
    /* Make the .variable text field able to expand as far as necessary. This may require javascript. */
}

.var-input {
    width: 100%;

    color: var(--text-color);
    background-color: var(--button-background-color);
    border-width: 0;
}

.sub,
.sup {
    grid-column: 3 / 4;

    font-size: 0.7em;
}

.sub {
    grid-row: 3 / 4;
}

.sup {
    grid-row: 1 / 2;
}

/* Need to make the areas with the results scrollable vertically */